html {
  @include size(100%);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: auto;
}


body {
  @include size(100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0; margin: 0;
}