html {
  @include size(100%);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: auto;
}


body {
  @include size(100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: $base-font-size;
  padding: 0; margin: 0;
}

.widget {
  padding: 40px 20px;

  .container {
    position: relative;

    .row {
      display: flex;
      justify-content: center;

      &.main {
        margin: 15px 0;
        align-items: center;
      }

      &.icon {
        margin: 10px 0;
      }

      &.data {
        line-height: 1.75em;
      }

      &.icon + .data {
        line-height: 1.25em;
      }

      .col {
        display: flex;
        flex-direction: column; 

      }

      span {
        &.label {
          font: {
            weight: 400;
          }
        }
    
        &.value {
          font: {
            weight: 700;
          }
        }
      }
    }
  }
}